<section>
  <section>
    <p><q>Not only customer collaboration, but also...</q></p>
    <h1>Productive partnerships</h1>
  </section>


  <section class="big">
    <h2>Productive partnerships: definition</h2>
    <p>Client-provider logic is for <b>contracts</b></p>
    <p class="fragment">Do not just take orders</p>
    <p class="fragment">Be concerned</p>
    <aside class="notes">
      Worldline philosophy 10 years ago<br/>
      Contract:how much paid, when to deliver<br/>
      but not the way we work<br/>
    </aside>
  </section>

  <section class="big">
    <h2>Developer's role is central</h2>
    <p class="fragment">The software hostage taking</p>
    <aside class="notes">we all need ability to implement fast new ideas<br/>
      all need agile code, well-tested
    </aside>
  </section>

  <section class="big"
           data-background="images/4-productive-partnerships/guardians.jpg">
    <h2 class="contrast">Guardians of the Quality</h2>
    <aside class="notes">responsibility : keeping product well-crafted<br/>
    nobody can do it for you<br/>
      do it, and explain when some choices degrade the product<br/>
    </aside>
  </section>

  <section class="big">
    <h2>Developer's role is central</h2>
    <p>Low quality has <b>costs</b></p>
    <ul class="fragment">
      <li>Strategic: client satisfaction</li>
      <li>Human: demotivation, turnover...</li>
      <li>Financial: technical debt, maintenance costs...</li>
    </ul>
    <aside class="notes">
      Think back to the brand new building
    </aside>
  </section>

  <section class="big">
    <h2>Developer's role is central</h2>
    <p>Low quality has <b>costs</b></p>
    <img src="images/4-productive-partnerships/cost_of_bugs.jpg">
  </section>

  <section class="big">
    <h2>So, let's be involved</h2>
    <p class="fragment">Don't be "the guy in the next office"</p>
    <p class="fragment">play a dynamic role</p>
    <p class="fragment">Have the ability to say <b>no</b>, else it will <b>hurt</b></p>

    <aside class="notes">
      guy in the office : no place in collaborative env for him<br/>
      dynamic role: driving role, take part to key steps (requirements)<br/>
      you have to balance functional and non-functional<br/>
    </aside>
  </section>

  <section class="big">
    <h2>Communicating</h2>
    <p>Speak your counterparts' language</p>
    <p class="fragment">Don't discuss <b>practices</b>, discuss <b>value</b></p>
  </section>

  <section>
    <h2>Communicating</h2>
    <p>Examples</p>
    <ul>
      <li class="fragment"><b>unit tests</b>: shorten the feedback loop (with automation), helps decoupling code into small testable pieces </li>
      <li class="fragment"><b>TDD</b>: helps organizing your work, continuous feedback, implicit documentation (cf BDD)</li>
      <li class="fragment"><b>refactoring</b>: keeps code well organized, increases maintainability, keeps velocity on the long-term</li>
      <li class="fragment"><b>pair programming</b>: shorten feedback loop, share coding practices and patterns, share code knowledge</li>
    </ul>
    <aside class="notes">this is how to build productive partnership</aside>
  </section>

</section>