<section>

<section>
  <h1>To sum up</h1>
</section>

<section class="big">
  <p>Software craftsmanship is <b>not</b> :</p>
  <ul class="no-dot">
    <li class="fragment"><i class="fa fa-thumbs-o-down"></i>A function or a graduation</li>
    <li class="fragment"><i class="fa fa-thumbs-o-down"></i>Yet another proccess or methodology</li>
    <li class="fragment"><i class="fa fa-thumbs-o-down"></i>An ivory tower (no "Dunning Kruger Effect")</li>
    <li class="fragment"><i class="fa fa-thumbs-o-down"></i>A proselyte church</li>
    <li class="fragment"><i class="fa fa-thumbs-o-down"></i>A guarantee of success on your project...</li>
  </ul>

  <p class="fragment">... <b>but</b> the lack of it can be the main cause of failure on your project.</p>
</section>

<section class="big">
  <p>Software craftsmanship <b>is</b> :</p>
  <ul class="no-dot">
    <li class="fragment"><i class="fa fa-thumbs-o-up"></i>about the <b>love</b> of a <b>well-done</b> job</li>
    <li class="fragment"><i class="fa fa-thumbs-o-up"></i>the will to be a good professional</li>
  </ul>
</section>

<section class="big">
  <p><q>Software-Craftsmanship is all about putting</q></p>
  <ul class="no-dot" style="width: 80%">
    <li class="fragment"><b>responsibility</b></li>
    <li class="fragment" style="margin-left: 25%"><b>professionalism</b></li>
    <li class="fragment" style="margin-left: 50%"><b>pragmatism</b></li>
    <li class="fragment" style="margin-left: 75%"><b>pride</b></li>
  </ul>
  <div class="fragment">
    <p><q>back into software development.</q></p>
    <cite><a href="https://twitter.com/sandromancuso">Sandro Mancuso</a></cite>
  </div>
  <p class="fragment"><b>Thank You <i class="fa fa-smile-o"></i></b></p>
</section>

</section>

