<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Software Craftsmanship</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= description %>" />
    <meta name="author" content="<%= author %>">
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <% include slides/0-introduction/0-title.html %>
        <% include slides/0-introduction/1-about.html %>
        <% include slides/0-introduction/2-what_is_craftsmanship.html %>
        <% include slides/0-introduction/3-manifesto.html %>
        <% include slides/1-well-crafted-software/well-crafted-software.html %>
        <% include slides/2-steadily-adding-value/steadily-adding-value.html %>
        <% include slides/3-community-of-professionals/a-community.html %>
        <% include slides/4-productive-partnerships/partnerships.html %>
        <% include slides/5-conclusion/conclusion.html %>
      </div>
    </div>
    <script src="js/app.js"></script>
    <script src="js/plugin/notes/notes.js"></script>
  </body>
</html>
