<section>

<section>
  <h2>About us</h2>
</section>

<section class="about">
  <div>
    <span class="round-crop">
      <img src="./images/0-introduction/nca_fe.jpg">
    </span>
    <ul class="no-dot">
      <li>
        <i class="fa fa-envelope-o"></i>
        <a href="mailto:nicolas.carlier@worldline.com">nicolas.carlier@worldline.com</a>
      </li>
      <li>
        <i class="fa fa-twitter"></i>
        <a href="https://twitter.com/ncarlier">@ncarlier</a>
      </li>
      <li>
        <i class="fa fa-github"></i>
        <a href="https://github.com/ncarlier">https://github.com/ncarlier</a>
      </li>
    </ul>
  </div>
  <div>
    <span class="round-crop">
      <img src="./images/0-introduction/Benjamin Piraud.jpg" class="desaturate">
    </span>
    <ul class="no-dot">
      <li>
        <i class="fa fa-envelope-o"></i>
        <a href="mailto:benjamin.piraud@worldline.com">benjamin.piraud@worldline.com</a>
      </li>
      <li>
        <i class="fa fa-twitter"></i>
        <a href="https://twitter.com/@Beshmin_">@Beshmin_</a>
      </li>
    </ul>
  </div>
</section>

</section>
