<section>

  <section class="section">
    <h2>What is <b>craftsmanship</b> ?</h2>
    <aside class="notes">
      Here a couple of illustrations to help the definition
    </aside>
  </section>

  <section>
    <p>To be lighthearted...</p>
  </section>

  <section data-background="#fff">
    <img src="images/0-introduction/what_is_craftsmanship/suits.jpg" class="no-border">
    <aside class="notes">
      Both project have same specifications:  wearing a suit.<br/>
      Functional requirement is met. But is it enough ?<br/>
      It's not just the matter of what is done but how it is done.
    </aside>
  </section>

  <section>
    <p>To be more serious...</p>
  </section>

  <section 
    data-background="images/0-introduction/what_is_craftsmanship/atrium.jpg"
    class="atrium big">
    <ul class="no-dot">
      <li class="fragment"><i class="fa fa-exclamation"></i>4 floods</li>
      <li class="fragment"><i class="fa fa-exclamation"></i>2 fire outbreaks</li>
      <li class="fragment"><i class="fa fa-exclamation"></i>2 windows that fell to the street</li>
      <li class="fragment"><i class="fa fa-exclamation"></i>Leaking pipes</li>
      <li class="fragment"><i class="fa fa-exclamation"></i>Dysfunctional parking doors</li>
      <li class="fragment"><i class="fa fa-exclamation"></i>Dysfunctional toilets</li>
      <li class="fragment"><i class="fa fa-bug"></i>Mice!</li>
    </ul>
    <aside class="notes">
      assuming delivered in time & costs<br>
      good work ? professional ? well-crafted ?<br>
      architect and company can be proud ?<br>
      would you ask them to build your own house ?<br/>
      No : they lost clients
    </aside>
  </section>

  <!--section data-background="images/0-introduction/what_is_craftsmanship/clastre.jpg">
  </section-->

  <section>
    <h3>A look into the <b>dictionary</b></h3>
  </section>

  <section class="big">
    <p><b style="font-size:1.5em">craftsmanship</b> noun /ˈkrɑːf(t)smənʃɪp/</p>
    <p><q><b>Skill</b> in a particular <b>craft</b></q></p>
  </section>

  <section class="big">
    <p><b style="font-size:1.5em">craft</b> noun /ˈkrɑːft/</p>
    <p><q>An activity involving <b>skill</b> in <b>making</b> things</q></p>
  </section>

  <section>
    <h3>What about <b>Software</b> Craftsmanship ?</h3>
  </section>

  <section
    data-background="images/0-introduction/what_is_craftsmanship/wikipedia.jpg"
    class="big"
    style="padding-top: 40%;">
    <p>
      <q>
        It is an approach to software development that emphasizes the coding <b>skills</b>
        of the software developers themselves
      </q>
    </p>
  </section>

  <section class="big">
    <p>So it's just a matter of <b>skills</b> ?</p>
  </section>

  <section data-background="#f55" class="big">
    <h1>no</h1>
    <aside class="notes">
      Don't be abused by a too quick reading.
      A far better definition comes from the manifesto.
    </aside>
  </section>
</section>
