<section>

<section>
  <h2>The Software Craftsmanship manifesto</h2>
</section>

<section class="big">
  <p>Created in <b>2009</b></p>
  <p>By people from various development movements</p>
  <p><b>Agile</b> Manifesto was <b>not enough</b></p>
</section>

<section class="big">
  <p>Agile has <b>changed</b> software development</p>
  <p class="fragment"><b>But</b> companies still produce <b>poor-quality</b> software</p>
  <aside class="notes">
    poor-quality constantly, industrially
  </aside>
</section>

<section class="big">
  <p>Agile introduced many <b>processes</b></p>
  <p class="fragment">... that did not solve problems</p>
  <p class="fragment">processes > practices</p>
  <aside class="notes">
    stand-up meetings, kick-offs, backlogs, backlog reviews, sprints...<br/>
    not solving, but showing problems<br/>
    it's a global assessment<br/>
  </aside>
</section>

<section>
  <p><q>People that don't understand core values focus on processes</q></p>
  <cite><a href="https://twitter.com/rhwy">Rui Carvalho</a></cite>
</section>

<section
  data-background="images/0-introduction/manifesto/manifesto.png"
  data-background-size="640px">
</section>

  <section class="big">
    <p>Software craftsmanship movement was born</p>
    <aside class="notes">
      a lot of buzz,  meetups, conferences, books<br/>
      partisans & detractors<br/>
      each quote can be interpreted, let's review them.
    </aside>
  </section>

</section>
