@import (inline, css) "npm://reveal.js/css/reveal.css";
@import (inline, css) "npm://reveal.js/css/theme/night.css";

@import "npm://font-awesome/less/font-awesome.less";

@import "layout.less";
@import "misc.less";
@import "slide.less";
@import "override.less";
