/**
 * Layout stylesheet.
 */

// Variables
@bg-color: #2F9194;
@bg-color-alt: #006265;

// Mixin for vendor-prefixed radial-gradient property
.radial-gradient(@position, @shape, @stop1, @stop2) {
  background: -webkit-radial-gradient(@position, @shape, @stop1, @stop2);
  background:    -moz-radial-gradient(@position, @shape, @stop1, @stop2);
  background:     -ms-radial-gradient(@position, @shape, @stop1, @stop2);
  background:      -o-radial-gradient(@position, @shape, @stop1, @stop2);
  background:        -radial-gradient(@position, @shape, @stop1, @stop2);
}

// BODY
body {
  .radial-gradient(center, circle cover, @bg-color 0%, @bg-color-alt 100%);
}

