/**
 * Misc.
 */

ul.no-dot {
  margin: 0;
  li {
    list-style: none;
    i.fa {
      padding: 0 0.5em;
    }
  }
}

span.non {
  border-top: 8px solid;
}

.no {
  color: #D52020;
  font-size: 5em !important;
}

img.desaturate{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

.reveal {
  .round-crop {
    width: 215px;
    height: 215px;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    display: inline-block;
    text-align: center;
    img {
      margin: 0;
      max-width: 100%;
      max-height: 100%;
      border: 0;
    }
  }
  img.no-border {
    margin: 0;
    border: 0;
    box-shadow: none;
  }
  .center {
    text-align: center;
  }
  .transparent {
    background: rgba(255, 255, 255, 0.28);
  }
  .contrast {
    color: white;
    background: black;
  }
}
