/**
 * Override Reveal rules.
 */

.reveal {
  h2, h3 {
    > b {
      font-size: 1.5em;
    }
  }
  section {
    &.big {
      font-size: 1.5em;
    }
  }
  p {
    b {
      font-size: 1.5em;
    }
    q {
      quotes: initial;
    }
  }

  cite {
    text-align: right;
    font-style: italic;
    display: block;
  }
}

