/**
 * Slides.
 */

section.about {
  display: flex !important;
  ul {
    font-size: 0.9em;
  }
}

section.atrium {
  .fragment {
    background: rgba(255, 255, 255, 0.28);
    padding: 10px;
  }
}

