<section>
<section>
  <p><q>Not only individuals and interactions, but also...</q></p>
  <h1>A community of professionals</h1>
</section>

<section class="big">
  <p>Software Craftsmanship is not a <b>level</b> but a <b>culture</b></p>
  <p>And a true craftsman has to <b>know</b> and to <b>transmit</b> this culture</p>
</section>

<section class="big"
          data-background="images/3-community-of-professionals/yoda.jpg">
  <h3>Apprenticeship and Mentoring</h3>
  <aside class="notes">
    Here a picture of a famous craftsman transmitting his knowledge.
  </aside>
</section>

<section class="big">
  <p><b>Knowledge</b> is a long journey to mastery</p>
  <p class="fragment">The best way to acquire knowledge is <b>practice</b></p>
  <aside class="notes">
    Especially true in our job, knowledge constantly evolving.
    Never ending story
  </aside>
</section>

<section class="big">
  <p>Many practice paths lead to knowledge</p>
  <p style="font-size:.8em;">(and some are fun)</p>
  <ul>
    <li class="fragment">Training</li>
    <li class="fragment">Coding session</li>
    <li class="fragment">Dojos</li>
    <li class="fragment">Code retreats</li>
    <li class="fragment">Pair programming</li>
    <li class="fragment">Code review (collective, pair)</li>
  </ul>
  <p class="fragment"><b>Practice</b> is necessary to <b>improve</b> yourself and being <b>fast</b></p>
  <aside class="notes">
    Dojo: Resolving a pb in group<br/>
    Driver/observer (one have the keyboard)<br/>
    Every time we try something new, productivity drops...<br/>
    NEXT: Now we have the knowledge...
  </aside>
</section>

<section>
  <p><q>With Great Knowledge Comes Great Responsibility</q></p>
  <cite>Ben Parker... or someone else</cite>
  <aside class="notes">
    Now we have acquire great knowledge, what ca we do ?
  </aside>
</section>

<section class="big">
  <p>We have to <b>share</b> and <b>transmit</b> our knowledge</p>
  <p class="fragment">By building a <b>Community of Knowledge</b></p>
  <aside class="notes">
    NEXT: A good ex of community of knowledge is the companionship
  </aside>
</section>

<section>
  <h2>Companionship</h2>
  <p>A <b>network</b> of craftsmen doing the same craft</p>
  <p>Travel the world ("Tour de France") before creating a masterpiece</p>
  <img src="images/3-community-of-professionals/companionship.jpg"/>
  <aside class="notes">
    Old french tradition.<br/>
    Where knowledge and identity are transmitted.
  </aside>
</section>

<section>
  <h2>Make your own "Tour de France"</h2>
  <ul>
    <li class="fragment">Talking with colleagues from other BUs / entities</li>
    <li class="fragment">Writing a blog</li>
    <li class="fragment">Doing presentations</li>
    <li class="fragment">Sharing (Github, Stackoverflow, ... BlueKiwi)</li>
    <li class="fragment">Taking part to external meetings like:</li>
    <ul class="fragment">
      <li>User Groups</li>
      <li>Meetups</li>
      <li>Conferences</li>
    </ul>
    <li class="fragment">etc.</li>
  </ul>
  <aside class="notes">
    NEXT: SO, practice and transmit knowledge and is a good start for a community.
    What about Professional in the quote?
  </aside>
</section>

<section class="big"
         data-background="images/3-community-of-professionals/professional.jpg">
  <h2 class="contrast">Professionalism</h2>
</section>

<section>
  <h2>Professionalism</h2>
  <p class="fragment">Not not in practices, but an <b>attitude</b></p>
  <p class="fragment">Not doing the right things, but doing the things <b>right</b></p>
  <p class="fragment"><b>Pride</b> and <b>responsibility</b></p>
  <aside class="notes">
    NEXT: And at last to close this section, Professionalism is nothing
    without passion!
  </aside>
</section>

<section class="big"
         data-background="images/3-community-of-professionals/passion.jpg">
</section>

<section class="big">
  <p><q>Software is eating the world, and the geeks who write the code cook the buffet.</q></p>
  <cite><a href="https://twitter.com/neal4d">Neal Ford</a></cite>
  <aside class="notes">
    Take a moment to think about this quote.
    You can do a software without project leader, but not without a developer
  </aside>
</section>

<section class="big">
  <p>We can be <b>proud</b>!</p>

  <p class="fragment">... but with <b>respect</b> and <b>humility</b></p>

  <p class="fragment"><b>Love</b> what you do !</p>
  <aside class="notes">
    Beware! Pride is not vanity.
    NEXT: And you will take part of a true community of professionals
  </aside>
</section>

</section>
