<section>

<section>
  <p><q>Not only responding to change, but also...</q></p>
  <h1>Steadily adding value</h1>
</section>

<section class="big"
  data-background="images/2-steadily-adding-value/code.jpg" >
  <p class="transparent">Writing lines is <b>not enough</b></p>

  <aside class="notes">
    It's not about implementing new features or fixing bugs.<br/>
    It's easy : beginners do it<br/>
    NEXT: even more easy : making the product unmaintainable
  </aside>
</section>

<section class="big">
  <h3>Writing lines is not enough</h3>
  <p>Adding code lines, making the product <b>unmaintainable</b></p>
  <div class="fragment">
    <p>...  is <b>easy!</b></p>
    <img src="images/2-steadily-adding-value/truck.jpg" height="300px">
  </div>
  <aside class="notes">
    Beginners implement things, forgetting big picture<br/>
    Making code unmaintainable : even more easy.<br/>
    Natural tendency to become unstructured, untestable, unmaintainable.<br/>
  </aside>
</section>

<section class="big">
  <h3>Writing lines is not enough</h3>
  <p>
  <q>Many (Agile) projects are now, steadily and iteratively, producing <s>crap</s> mediocre software</q>
  </p>
  <cite><a href="https://twitter.com/sandromancuso">Sandro Mancuso</a></cite>
  <p class="fragment">Be a software engineer: <b>refactor!</b></p>

  <aside class="notes">
    Big companies are particularly concerned<br/>
    Refactoring should not be an issue.<br/>
    But a tool to help adding features for the best, to apply boy scout rule
  </aside>
</section>

<section data-background="images/2-steadily-adding-value/scout.jpg" >
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <h2 class="contrast">The boy scout rule</h2>
</section>

<section class="big">
  <h2>The boy scout rule</h2>
  <p><q>Leave the campground <b>cleaner</b> than you found it.</q></p>

  <p class="fragment">Do <b>not</b> degrade your project</p>

  <aside class="notes">
    Applying => keep the project in a good state
  </aside>
</section>

<section data-background="images/2-steadily-adding-value/trash.jpg" class="big">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p class="contrast">
  Allegory of a software developed entirely by unsupervised beginners
  </p>

  <aside class="notes">
    sad-looking campground !<br/>
    happens when many developers work successively<br/>
    anticipating long-term : your responsibility as developer<br/>
  </aside>
</section>

<section class="big">
  <h2>The boy scout rule</h2>
  <p>Prepare the <b>future</b></p>

  <p class="fragment">Master the <b>technical debt</b></p>

  <aside class="notes">
    example from real life:
    overestimation, decommissioning, increasing technical debt (messy code, code knowledge, test automation)<br/>
    keep it structured, readable & clean, testable,tested<br/>
  </aside>
</section>

<section class="big">
  <h2>Why is maintainability necessary?</h2>
  <p class="fragment">Obvious... but forgotten day after day</p>
  <img class="fragment" src="images/2-steadily-adding-value/quality_triangle.jpg">

  <p class="fragment"><b>Quality</b>: <i> the ideal victim</i><i class="fragment">... on the short term</i></p>
  <aside class="notes">
    antagonists<br/>
    ideal victim<br/>
    YOU're the only one who can explain<br/>
    unit tests removed from planning before dev starts !<br/>
  </aside>
</section>

<section class="big">
  <h2>Why need a maintainable project?</h2>
  <ul class="big">
    <li class="fragment">for developers: efficiency and motivation</li>
    <li class="fragment">for project managers: velocity and ROI</li>
    <li class="fragment">for clients: product extensibility</li>
  </ul>
</section>

<section class="big">
  <p>Steadily adding value is a <b>win-win</b></p>

  <aside class="notes">
    we are immature industry !<br/>
    we must improve together, as a community of professionals<br/>
  </aside>
</section>
</section>
