<section>
<section>
  <p><q>Not only working software, but also...</q></p>
  <h1>Well-crafted software</h1>
  <aside class="notes">
    NEXT: first we have to simply define what a software is.
  </aside>
</section>

<section class="big">
  <p>But what is a <b>software</b> ?</p>
</section>

<section
  data-background="images/1-well-crafted-software/code.jpg"
  class="big">
  <div class="fragment transparent">
    <p><b>Functional</b></p>
    <p>and</p>
    <p><b>Nonfunctional</b></p>
    <p>requirements</p>
  </div>
  <aside class="notes">
    It's a bunch of code that implements functional and non-functional requirements
  </aside>
</section>

<section
  data-background="images/1-well-crafted-software/code.jpg"
  class="big">
  <div class="transparent">
    <p><b>What</b></p>
    <p>and</p>
    <p><b>How</b></p>
  </div>
  <aside class="notes">
    The functional requirements define WHAT the software is supposed to do.
  </aside>
</section>

<section>
  <h2>Nonfunctional Requirements</h2>
  <ul>
    <li class="fragment">Testability</li>
    <li class="fragment">Performance</li>
    <li class="fragment">Scalability</li>
    <li class="fragment">Availability</li>
    <li class="fragment">Security</li>
    <li class="fragment">Accessibility</li>
    <li class="fragment">Monitoring</li>
    <li class="fragment">Management</li>
    <li class="fragment">Auditability</li>
    <li class="fragment">Flexibility</li>
    <li class="fragment">Extendability</li>
    <li class="fragment">Legal compliance</li>
    <li class="fragment">Internationalization</li>
    <li class="fragment">Localization</li>
  </ul>
  <aside class="notes">
    Test: Not just test but the ability to be tested (kiss)<br/>
    Audit: the ability to measure the behavior<br/>
    Flexibility: the ability to evolve (a software that you are not scared to touch)<br/>
    NEXT: If you ask your customer...<br/>
  </aside>
</section>

<section class="big">
  <p><b>Quality</b> != <b>Perfection</b></p>
  <p>but a <b>pragmatic</b> attitude</p>
  <p>Make <b>priorities</b></p>
  <aside class="notes">
    All of these requirements cannot be handled the same way,
    at the same level of implication and quality.
  </aside>
</section>

<section class="big">
  <p><b>F</b> and <b><span class="non">F</span></b> requirements</p>
  <p>have mutual <b>influence</b></p>
  <aside class="notes">
    If performance matters, building a complex search form with tons of fields can be an issue.</br>
    If database requires relationship and strong consistency, scalability can be an issue.
  </aside>
</section>

<section class="big"
         data-background="images/1-well-crafted-software/balance.jpg">
  <p>Keep the balance <b>right</b></p>
  <aside class="notes">
    A well-crafted software takes care of functional and nonfunctional requirements the same way.
  </aside>
</section>

<section class="big"
         data-background="images/1-well-crafted-software/constraints.jpg">
  <h2>Constraints</h2>
</section>

<section data-background="images/1-well-crafted-software/constraints.jpg">
  <h2>Constraints</h2>
  <ul>
    <li class="fragment">Time and budget</li>
    <li class="fragment">People</li>
    <li class="fragment">Organizational</li>
    <li class="fragment">
      Technologies
      <ul>
        <li class="fragment">Approved list</li>
        <li class="fragment">Existing systems</li>
        <li class="fragment">Target platform</li>
        <li class="fragment">Maturity</li>
        <li class="fragment">Vendor relationships</li>
        <li class="fragment">Past failures</li>
        <li class="fragment">etc.</li>
      </ul>
    </li>
  </ul>
  <aside class="notes">
    list: Java, T5, FW3<br/>
    existing: service tools<br/>
    platform: centos<br/>
    maturity: TO level suppport<br/>
  </aside>
</section>

<section class="big">
  <p><b>Constraints</b> cannot be avoided</p>
  <p>but have to be</p>
  <p><b>Handled</b> and <b>Prioritized</b></p>
</section>

<section>
  <h2>Well-crafted software</h2>
  <div class="big">
    <p><b>How</b> <i>it is done</i></p>
    <p><i>is</i> <b>as important</b> <i>as</i></p>
    <p><b>what</b> <i>is done</i></p>
  </div>
</section>

</section>
